<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	
	<logger name="batch.demo" level="DEBUG"/>
	
	<springProfile name="staging">
		<logger name="batch.demo" level="TRACE" />
	</springProfile>
	
</configuration>